#title, textarea, #status, #project{
    width: 100%;
    margin: 2% auto;
    padding: 2%;
    border-radius: 10px;
    border: none;
}

#title{
    font-size: 200%
}

textarea{
    height: 20em;
    font-size: 120%;
}

.editors{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;

    select{
        background-color: #FFFFFF;
    }
}