.footer{
    background-color: $blue;
    color: $white;
    width: 100%;
    margin-bottom: 0;
    
    .info{
        display: flex;
        justify-content: center;
        align-items: center;

        .footerImg{
            width: 5%;
            margin: 2%;
        }
    }

    .copyright{
        text-align: center;
        width: 100%;
        padding: 2%;
        border-top: solid 1px $white;
    }
}